<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-62593228-1', 'auto');
      ga('send', 'pageview');

    </script>

    {{ content }}
    <footer>
      <ul>
        <li>Twitter: <a href="https://twitter.com/rasmusrn">@rasmusrn</a></li>
        <li>Email: <a href="mailto:&#114;&#097;&#115;&#109;&#117;&#115;&#114;&#110;&#105;&#101;&#108;&#115;&#101;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#114;&#097;&#115;&#109;&#117;&#115;&#114;&#110;&#105;&#101;&#108;&#115;&#101;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></li>
        <li><a href="/feed.xml">RSS feed</a></li>
        <li><a href="/">Frontpage</a></li>
      </ul>

      <form class="newsletter" action="//bonsai7.us10.list-manage.com/subscribe/post?u=fb5c07d644345eb520a8d5321&amp;id=e5ceb6c331" method="post" target="_blank" novalidate>
        <label>Newsletter:</label><br>
        <input type="email" name="EMAIL" placeholder="Your email address...">
        <input type="submit" value="Subscribe">
      </form>
    </footer>
  </body>
</html>
