<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="/highlight-railscasts.css" rel="stylesheet">
  </head>
  <body>
    {{ content }}
    <footer>
      <ol>
        <li>Twitter: <a href="https://twitter.com/rasmusrn">@rasmusrn</a></li>
        <li>Email: <a href="mailto:&#114;&#097;&#115;&#109;&#117;&#115;&#114;&#110;&#105;&#101;&#108;&#115;&#101;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#114;&#097;&#115;&#109;&#117;&#115;&#114;&#110;&#105;&#101;&#108;&#115;&#101;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></li>
        <li><a href="/feed.xml">RSS feed</a></li>
        <li><a href="/">Frontpage</a></li>
      </ol>
    </footer>
  </body>
</html>
